.main{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    hr{
        display: none;
    }
}
.container{
    width: 100%;
    display: grid;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 40px;
    .img{
        img{
            width: 410px;
            height: 220px;
            border-radius: 1%;
            

        }
    }
    
    .content{
        width: 70%;
        margin-top: 15px;
        span{
            
          
            color:#321da5;
            font-weight: 600;
        }
        h1{
            font-size: 32px;
            font-weight: 900;
            word-break: unset;
            color: #122648;
            
        }
    }

    .author{
        span{
            color:#1e1d1d;
        }
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
        font-weight: 600;
        color: #324159;
        img{
            width: 47px;
            height: 47px;
            border-radius: 50%;
        }
    }
    date{
       
        font-weight: 600;
        color:#888686;
       
        display: flex;
        gap: 10px;
        align-items: center;
        svg{
            fill: #888686;
            stroke: #888686;
            font-weight: 900;
        }
    }

    margin-bottom: 50px;
}





@media(max-width:600px){
    
    .main{
        display: grid;
        grid-template-columns: 1fr ;
        hr{
            display: inline-block;
        }
        
    }
    .container{
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        
        place-content: center;
        margin: 0 auto;
        margin-top: 20px;
        padding-left: 20px;
        .img{
            img{
                
                width: 150px;
                height: 110px;
                border-radius: 3%;
                
    
            }
        }
      
        .content{
            width: 100%;
            margin-top: 0px;
           margin-left: 5px;
            span{
                color:#321da5;
                font-size: 12px;
                font-weight: 600;
            }
            h1{
                font-size: 14px;
                font-weight: 750;
                color: #122648;
                
            }
            .name{
    
                color: #324159 !important;
            }
            p{
                display: none;
            }
        }
    
        .author{
            span{
                color:#1e1d1d;
            }
            display: flex;
            position: relative;

            align-items: center;
            margin-top: 0px;
            // left: 180px;
            // bottom:30px;
            font-size: 12px;
            gap: 10px;
            font-weight: 600;
            img{
                width: 27px;
                height: 27px;
                border-radius: 50%;
            }
        }
        date{
            // margin-left: 60px;
            // visibility: hidden;
            // position: relative;
            //  right: 25px;

            font-size: 12px;
         
            font-weight: 600;
            // margin-top: 0%;
        }
    
        margin-bottom: 50px;
    }
}
@media screen and (max-width:864px) and (min-width:600px) {
    .main{
        
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        hr{
            display: none;
        }
    }
 
    
    

}