.about__container{

    .about__image{
        margin: 0 auto;
        place-items: center;
        img{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            margin-top: 60px;
            justify-content: center;
            align-items: center;

            border-radius: 20px;
        }
    }
    height: 110vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr;

    .about__content{
        a{
            color:#0000ff;
           &:hover{
                text-decoration: underline;
            }
        }
            p{
                font-weight: 500;
            }
        font-weight: 600;

        margin-top: 20px;
        padding: 60px;
    }

    
}
@media (max-width:600px){
    .about__container{
        margin-bottom: 1000px;
        .about__image{
            margin: 0 auto;
            place-items: center;
            img{
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                margin-top: 60px;
                justify-content: center;
                align-items: center;
                width: 200px;
                border-radius: 20px;
            }
        }
        height: 110vh;
        
        display: grid;
        grid-template-columns: 1fr ;
    
        .about__content{
            a{
                color:#0000ff;
               &:hover{
                    text-decoration: underline;
                }
            }
                p{
                    font-weight: 500;
                }
            font-weight: 600;
    
            margin-top: 20px;
            padding: 60px;
        }
    
        
    }
}